<!DOCTYPE html>
<html>
  <head>
    <style>
      #report {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      #report td, #report th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #report tr:nth-child(even){background-color: #f2f2f2;}
      #report tr:hover {background-color: #ddd;}
      #report th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
    </style>
  </head>
  <body>
    <% data.each do |date, report| %>
      <h2> <%= Date.parse(date).strftime("%b-%Y") %> </h2>
      <table id="report">
        <tr>
          <th>Category</th>
          <th>Amount (USD)</th>
        </tr>
        <% report.each.sort_by{ |k, v| v }.reverse.each do |category, amount| %>
          <tr>
            <td> <%= category %> </td>
            <td> <%= sprintf("%.2f", amount) %> </td>
          </tr>
        <% end %>
        <tr bgcolor="#E8ADAA">
          <td> TOTAL </td>
          <td> <%= sprintf("%.2f", report.values.reduce(:+)) %> </td>
        </tr>
      </table>
      <br>
      <br>
    <% end %>
  </body>
</html>
